* {
  box-sizing: border-box;
}

.Modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Modal--overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.Modal--body {
  padding: 0 20px;
  margin-top: 100px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 20px;
  min-width: 400px;
  max-width: 600px;
}

.Panel--overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.Panel--body {
  position: fixed;
  top: 0; bottom: 0; right: 0;
  padding: 0 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 20px;
  width: 300px;
}
